.root {
  @apply relative;
}

.productTag {
  @apply relative top-0 left-0 z-20;

  & > * {
    font-size: 2rem;
    letter-spacing: 0.4px;
  }
}

.productTitle {
  @apply font-bold;
  line-height: 2.2rem;

  & span {
    @apply py-4 px-6;
  }
}

.productPrice {
  @apply relative pb-4 pt-2 px-6 font-semibold text-sm;
  letter-spacing: 0.4px;
  top: 1rem;
  box-decoration-break: clone;
}

.productBG {
  @apply absolute inset-0 z-0;
  background-color: #212529;
}
